/* Reset some default styles */
body,
ul,
li,
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #5c4545;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Navigation Styles */
.navbar {
  background-color: wheat;
  padding: 15px 0;
  
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-right: 40px;
  float: right;
  list-style: none;
}

.navbar a.active {
  font-weight: bold;
  float: left;
  font-weight: 1000;
  font-size: xx-large;
}

/* Search Form Styles */
.search-form {
font-size: larger;
  align-items: center;
  border: 1px solid #ff6e00;
  padding: 5px;
  width: 500px;
  height: 50px;
  border-radius: 50px;
}

.input {
  width: 100%;
  color: #ff6e00;
  border: none;
  background: transparent;
  outline: none;
  font-size: larger;
}

#search-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(197, 102, 12);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;
}

.img {
  width: 350px;
  height: 350px;
  border-radius: 300px;
  background: url("");
  background-repeat: no-repeat;
  background-position: center;
}

.content-container {
  width: 100%;
  background-color: wheat;
  padding: 2px;
}
.info {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Meal List Styles */
.meals-menu {
  display: flex;
}

.meallist {
  list-style: none;
  display: flex;
  color: wheat;
}

.meal-item {
  flex: 30%;
  padding: 5px;
}

/* About Section Styles */
#about {
  color: white;
  padding: 40px 0;
}

.imageabout {
  width: 35%;
  border-radius: 10px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 55%;
  font-size: larger;
  letter-spacing: 2px;
}

/* Contact Section Styles */
#contact {
  padding: 40px 0;
}

.form-container {
  width: 60%;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

button {
   padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(197, 102, 12);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .img,
  .content-container {
    width: 100%;
  }
}
